{% extends "base.html" %}
{% block content %}
{% if profile %}
	<div class="row">
		<div class="span6">
			<h4>Friendlist</h4>
			<ul>
				{% for friendship in profile.get_friendship %}
				<li>{{ friendship }}{% if not friendship.accepted %} <i>(pending request)</i>{% endif %}</li>
				{% endfor %}
				<hr />
				{% for friendship_request in profile.get_friendship_requests %}
				<li>{{ friendship_request.own_profile }} asks to be your friend <a href="{% url 'member.views.accept_friendrequest' friend_id=friendship_request.own_profile.id action=1 %}">Accept</a> | <a href="{% url 'member.views.accept_friendrequest' friend_id=friendship_request.own_profile.id action=0 %}">Decline</a></li>
				{% endfor %}
			</ul>
		</div>
		<div class="span6">
			<h4>Invites</h4>
			<ul>
				{% for invitation in invitations %}
				<li>You have been invited to {{ invitation }} by {{ invitation.issuer }} <a href="{% url 'lobbys.views.response_invite' lobby_id=invitation.lobby.id action=1 %}">Join</a> | <a href="{% url 'lobbys.views.response_invite' lobby_id=invitation.lobby.id action=0 %}">Decline</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="row">
		<h3>{{ profile.user.username }} ({{ profile.user.firstname }} {{ profile.user.lastname }} / {{ profile.user.email }})</h3>
		<ul>
			<li>You play as <b>{{ profile.playerclass }}</b><h4>{{ profile.experience }} XP</h4></li>
		</ul>
		<hr />
		<div>
			{% load comments %}
			{% render_comment_list for profile.user %}
			{% if user.is_authenticated %}
			    {% get_comment_form for profile.user as form %}
			    <form class="form-horizontal" action="{% comment_form_target %}" method="POST">
				    <div class="control-group">
					    {% csrf_token %}
					    {{ form.comment }}
					    {{ form.honeypot }}
					    {{ form.content_type }}
					    {{ form.object_pk }}
					    {{ form.timestamp }}
					    {{ form.security_hash }}
				    </div>
				    <div class="control-group">
					    <input type="hidden" name="next" value="/member/profile/" />
					    <button type="submit" id="id_submit" class="btn" />
					    	Add comment
					    </button>
				    </div>
			    </form>
			{% else %}
			    <p>Please <a href="{% url 'auth_login' %}">log in</a> to leave a comment.</p>
			{% endif %}
		</div>
	</div>
{% endif %}
{% endblock %}