{% extends "base.html" %}
{% block content %}
{% if profile %}
	<div>
		<h3>Friendlist</h3>
		<ul>
			{% for friendship in profile.get_friendship %}
			<li>{{ friendship }}{% if not friendship.accepted %} <i>(pending request)</i>{% endif %}</li>
			{% endfor %}
		</ul>
	</div>
	<div>
		<h3>{{ profile.user.username }} ({{ profile.user.firstname }} {{ profile.user.lastname }})</h3>
		<ul>
			<li>You play as <b>{{ profile.playerclass }}</b><h4>{{ profile.experience }} XP</h4></li>
		</ul>
		<hr />
		<div>
			{% load comments %}
			{% render_comment_list for profile.user %}
			{% if user.is_authenticated %}
			    {% get_comment_form for profile.user as form %}
			    <form class="form-horizontal" action="{% comment_form_target %}" method="POST">
				    <div class="control-group">
					    {% csrf_token %}
					    {{ form.comment }}
					    {{ form.honeypot }}
					    {{ form.content_type }}
					    {{ form.object_pk }}
					    {{ form.timestamp }}
					    {{ form.security_hash }}
				    </div>
				    <div class="control-group">
					    <input type="hidden" name="next" value="/member/profile" />
					    <button type="submit" id="id_submit" class="btn" />
					    	Add comment
					    </button>
				    </div>
			    </form>
			{% else %}
			    <p>Please <a href="{% url 'auth_login' %}">log in</a> to leave a comment.</p>
			{% endif %}
		</div>
	</div>
{% endif %}
{% endblock %}